<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">

    <title>crud연습</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>  
</head>

<body>
    <a href="{% url 'newblog' %}">글쓰기</a>

    {%for blog in blogs %}
        <h2>{{blog.title}}</h2>
        <p>{{blog.body}}</p>
        <p>{{blog.pub_date}}</p>
        <hr>
        <a href="{% url 'update' blog.id %}">수정</a>
        <a id='delete' href="{% url 'delete' blog.id %}">삭제</a>
        <hr>
        <p>댓글목록</p>
        <a class="btn btn-default" href="{% url 'add_comment' pk=blog.pk %}">Add comment</a>
        {% for comment in blog.comments.all %}
        <div class="comment">
            <div class="date">{{ comment.created_date }}</div>
            <strong>{{ comment.author }}</strong>
            <p>{{ comment.text|linebreaks }}</p>
            <hr>
        </div>
        {% empty %}
        <p>No comments here yet :(</p>
        {% endfor %}
    {% endfor %}

    <script>
        $('#delete').click(function () {
            if (confirm('Are you sure?') == true) {
            } else {
                return false;
            }
        });
    </script>
</body>

</html>